.profile {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.avatar {
  display: block;
  margin: 50px auto;
  border-radius: 50%;

  width: 200px;
}

.description {
  margin: 0 auto;
  text-align: center;
}

.name {
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
}

.tag {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.location {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.stats {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #dddddd;
}

.stats__element {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  outline: solid 1px #999999;
  width: 33.33%;
  padding: 30px 10px;
}

.label {
  color: #555;
  line-height: 2;
}

.quantity {
  color: #222222;
  font-size: 22px;
  font-weight: 700;
}
